.form {
  display: flex;
  flex-direction: column;
  width: 320px;
}

.formHeader {
  position: relative;
  height: 40px;
  background-color: #3a5374;
  margin-bottom: 25px;
}

.buttonCloseModal {
  position: absolute;
  border: none;
  outline: none;
  left: 0;
  top: 0;
  height: 40px;
  width: 40px;
  background: url(../../images/left-errow.png) center no-repeat transparent;
}

.buttonCloseModal:hover {
  cursor: pointer;
}

.title {
  text-transform: uppercase;
  text-align: left;
  color: #fff;
  font-size: 12px;
  line-height: 40px;
  padding-left: 40px;
}

.radioGroup {
  position: relative;
  margin: 0 auto;
  display: flex;
  width: 180px;
  justify-content: space-between;
  margin-bottom: 25px;
}

.radioGroup::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 1px;
  height: 20px;
  background-color: #6b7d83;
}

.label {
  position: relative;
  font-size: 13px;
  padding-left: 15px;
  font-weight: bold;
  color: #6b7d83;
}

.radioIconDeposite {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #b9c9d4;
}

.radioIconDeposite::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: transparent;
}

.radioIconDeposite.active::before {
  background-color: #415b7d;
}

.radioIconWithdraw {
  composes: radioIconDeposite;
}

.radioIconWithdraw.active::before {
  background-color: #ff6c00;
}

.depositeInput {
  display: none;
}

.depositeInput:checked + span {
  color: #415b7d;
}

.withdrawInput {
  composes: depositeInput;
}

.withdrawInput:checked + span {
  color: #ff6c00;
}

.select {
  width: 90%;
  margin: 0 auto;
  border: 2px solid #b9c9d4;
  border-radius: 4px;
  padding: 5px;
  font-weight: bold;
  color: #2c353e;
  font-size: 13px;
  margin-bottom: 25px;
}

select:focus {
  outline: none;
}

.inputGroup {
  width: 90%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
}

.input {
  composes: select;
  margin: 0;
  margin-bottom: 25px;
  font-size: 13px;
  text-align: right;
  height: 30px;
  width: 130px;
}

.input:focus {
  outline: none;
}

.inputCount {
  composes: input;
}

.inputCount::-webkit-outer-spin-button,
.inputCount::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.inputDate {
  composes: input;
  margin-right: 0;
}

.inputDate::-webkit-calendar-picker-indicator {
  margin: 0;
}

.inputDate::-webkit-calendar-picker-indicator:hover {
  cursor: pointer;
}

.inputDate::-webkit-calendar-picker-indicator:active {
  border: none;
}

.textAreaLabel {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
  font-weight: bold;
  font-size: 15px;
}

.textArea {
  composes: inputDate;
  margin-top: 10px;
  width: 100%;
  height: 50px;
  resize: none;
  text-align: left;
}

.formFooter {
  height: 70px;
  background-color: #738397;
  display: flex;
  justify-content: center;
  align-items: center;
}

.buttonAddTransaction {
  composes: select;
  font-size: 15px;
  border: none;
  margin-bottom: 0;
  height: 40px;
  color: #fff;
  font-weight: bold;
  background-color: #fc842c;
}

.buttonAddTransaction:hover {
  cursor: pointer;
}

@media (min-width: 768px) {
  .formHeader {
    background-color: #fff;
    margin-bottom: 40px;
  }

  .buttonCloseModal {
    top: -5px;
    left: 115%;
    transform: rotate(45deg);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-image: url(../../images/plus.png);
    background-size: 45% auto;
  }

  .buttonCloseModal:hover {
    background-color: rgba(0, 0, 0, 0.1);
  }

  .title {
    text-align: center;
    color: #282828;
    font-size: 15px;
    padding-left: 0;
  }

  .radioGroup {
    margin-bottom: 30px;
  }

  .formFooter {
    background-color: transparent;
    margin-bottom: 40px;
    height: 50px;
  }

  .buttonAddTransaction {
    background-color: #415b7d;
  }
}

.onOpenModal {
  overflow: hidden;
}