.buttonOpenModal {
  position: fixed;
  color: #fff;
  font-size: 30px;
  border: none;
  border-radius: 50%;
  background-color: #e56100;
  width: 54px;
  height: 54px;
  right: 50%;
  bottom: 5px;
  transform: translateX(50%);
}

.buttonOpenModal:hover {
  cursor: pointer;
}

.buttonOpenModal:focus {
  outline: none;
}

@media (min-width: 768px) {
  .buttonOpenModal {
    right: 45px;
    bottom: 45px;
  }
}
