.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0px 50px;
  padding: 20px 20px;
  font-family: "HelveticaNeueCyr";
  /* color: rgb(40, 40, 40); */
  color: #ffffff;
  font-weight: bold;
  line-height: 1.5;
  border-radius: 4px;
  background-color: rgb(58, 83, 116);
  text-align: center;
}

.hello {
    font-size: 22px;
    margin-bottom: 10px;
}

.title {
    font-size: 28px;
    margin-bottom: 10px;
}

.logoWrapper {
    display: flex;
    flex-direction: row;
    padding: 5px 15px;
    margin-bottom: 20px;
    align-items: center;
    background-color: rgb(40, 64, 96);
}

.imgContainer {
  width: 24px;
  height: 24px;
}

.image {
  width: 100%;
}

.logoName {
  margin-left: 5px;
  color: #79879a;
  font-size: 20px;
  font-family: "BauhausC", sans-serif;
  font-weight: bold;
  line-height: 1;
}

.text {
  font-size: 18px;
  text-align: center;

}

@media screen and (min-width: 768px) {
    /* border: 2px solid #000000; */
    /* color: rgb(40, 40, 40); */
}
@media screen and (min-width: 1200px) {}


  
    /* color: #455d7c; */

