.signUpLogoContainer {
  padding-top: 58px;
  text-align: center;
}

.linkSignIn {
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  margin: -10px auto;
  font-size: 12px;
  width: 35px;
  border-bottom: 1px solid rgb(166, 177, 181);
}

@media (min-width: 768px) {
  .modal {
    background-image: url(../../images/Authentication/bg-tablet-registration.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
  }
  .formContainer {
    height: 550px;
    width: 550px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
@media (min-width: 1280px) {
  .modal {
    background-image: url('../../images/Authentication/bg-desktop-registration.png');
  }
  .formContainer{
    left: 70%;
    box-shadow: 0px 0px 19px 8px rgba(0,0,0,0.36);
  }
}
