.container {
    display: flex;
    justify-content: space-between;
    padding: 8px 0;
    width: 300px;
    margin: 0 auto;
}
.header {
    background-color: rgb(40, 64, 96);
}
.logoContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-decoration: none;
}
.logoutContainer {
    composes: logoContainer;
}
.imgContainer {
    width: 24px;
    height: 24px;
}

.logoName {
 margin-left: 5px;
 color: #79879a;
 font-size: 20px;
 font-family: "BauhausC", sans-serif;
 font-weight: bold;
}
.name {
    padding-right: 13px;
    color: #79879a;
    font-size: 15px;
}
.button {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
}
.button::before {
    content: '';
    display: block;
    height: 16px;
    width: 16px;
    background-image: url(./Image/exit.svg);
    fill: #79879a;
}
@media (max-width: 767px) {
    .button {
        font-size: 0px;
    }
}
@media (min-width: 768px) {
    .container {
        padding: 25px 22px;
        width: 748px;
    }
    .header {
        background-color: rgb(255, 255, 255);
        box-shadow: 1.5px 2.598px 3px 0px rgba(1, 1, 0, 0.12);
        margin-bottom: 3px;
    }
    .logoName {
        color: #000000;
    }
    .name {
        border-right: 1px solid #79879a;
        padding-right: 17px;
    }
    .button {
        margin-left: 17px;
        display: flex;
        color: #79879a;
        font-size: 15px;
        font-family: "HelveticaNeueCyr", sans-serif;
    }
    .button::before {
        margin-right: 5px;
    }
    
}
@media screen and (min-width: 1280px) {
    .header {
        grid-area: header;
        margin-bottom: 46px;
        width: 100vw;
        position: fixed;
        z-index: 1;
        left: 0;
        top: 0;
        
    }
    .container {
        width: 1192px;
        padding: 28px 0;
    }
}