.container {
  background-color: #f3f6f6;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 100vw;
    background-color: #ffffff;
    background-image: url(../../images/bg_exchange_tablet.png);
    background-repeat: no-repeat;
    /* background-position: bottom; */
background-position-y: 560px;
    background-size: contain;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    grid-area: body;
    max-width: 930px;
    position: relative;
    background-color: #f2eaf0;
  }
}