.container {
  background-color: white;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .container {
    width: 100%;
    background-color: white;
    background-image: url(../../images/bg_exchange_tablet.png);
    background-repeat: no-repeat;
    background-position-y: 430px;
    background-size: contain;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    grid-area: body;
    max-width: 930px;
    background-color: #f2eaf0;
  }
}
