@value label from "../../assets/styles/Authentication.module.css";

.linkSignUp {
  font-family: "HelveticaNeueCyr";
  font-weight: 400;
  margin: 0 auto;
  margin-top: -10px;
  font-size: 12px;
  width: 75px;
  border-bottom: 1px solid rgb(166, 177, 181);
}

@media (min-width: 768px) {
  .modal {
    background-image: url(../../images/Authentication/bg-tablet-login.png);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
  }
  @media (min-width: 1280px) {
    .modal {
      background-image: url('../../images/Authentication/bg-desktop-login.png');
    }
  }
}
