.finance-data{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.finance-table{
    margin: 20px 8px 20px;
}



.transactionHistory {
  /* max-width: 872px;
  border-radius: 3px;
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.25);
  margin: 0px auto 40px;
  text-align: center; */
}

.thead {
  background-color: #00bcd4;
}

.tr:nth-child(odd) {
    background-color: #f3f6f6;
}

.th {
  /* min-width: 290px;
    font-family: "HelveticaNeueCyr-Bold";
    font-size: 13px;
    color: rgb(255, 255, 255);
    font-weight: 700;
    text-transform: uppercase;
    line-height: 2.008;
    padding: 12px 0px; */
  font-size: 13px;
  font-family: "HelveticaNeueCyr";
  color: rgb(40, 40, 40);
  line-height: 2.308;
}

.td {
  /* padding: 10px 0px; */

  font-size: 13px;
  font-family: "HelveticaNeueCyr";
  font-weight: bold;
  color: #2c353e;
  line-height: 2.308;
  text-align: left;
}

.td--amount {
  color: #3a5374;
}
