/*! Mobile */

.financeMobSection {
  /* background-color: #f3f6f6; */
  background-color: #ffffff;
  margin: auto;
}

.financeMobWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px auto;
  text-align: center;
  /* background-color: #f3f6f6; */
  background-color: #ffffff;
  padding-bottom: 20px;
}

.financeMobList {
  max-width: 306px;
  display: flex;
  flex-direction: column;
}

.financeMobItem {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  box-shadow: 14.095px 5.13px 9px 0px rgba(1, 1, 0, 0.08);
  font-size: 13px;
  font-family: "HelveticaNeueCyr";
  color: rgb(44, 53, 62);
  line-height: 2.308;
}

.financeMobItem:last-child {
  margin-bottom: 0px;
}

.financeMobRow {
  display: flex;
  flex-direction: row;
  text-align: left;
  padding: 7px 10px 7px 16px;
}

.financeMobTitle {
  min-width: 150px;
}

/** нечетное */
.financeMobRow:nth-child(odd) {
  background-color: #f3f6f6;
}

/** четное f3f6f6*/
.financeMobRow:nth-child(even) {
  background-color: #ffffff;
}

.financeMobDate {
  /* padding-left: 164px; */
}

.financeMobDateAmount {
  font-weight: bold;
  color: rgb(58, 83, 116);
}

/*! Tablet / Desktop */

.financeWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0px auto;
}

.financeTable {
  width: 100%;
  margin: 20px 8px 20px;
  text-align: center;
}

/** нечетное */
.tr:nth-child(odd) {
  background-color: #f8f8fe;
}

/** четное f3f6f6*/
.tr:nth-child(even) {
  background-color: #f3f6f6;
}

.thead {
  background-color: #ffffff;
}

.th {
  font-size: 13px;
  font-family: "HelveticaNeueCyr";
  color: rgb(40, 40, 40);
  line-height: 2.308;
  background-color: #ffffff;
  padding: 12px 0px;
}

.td {
  font-size: 13px;
  font-family: "HelveticaNeueCyr";
  font-weight: bold;
  color: #2c353e;
  line-height: 2.308;
  padding: 12px 0px;
}

.tdAmount {
  font-size: 13px;
  font-family: "HelveticaNeueCyr";
  font-weight: bold;
  color: #3a5374;
  line-height: 2.308;
  padding: 12px 0px;
}

@media screen and (min-width: 768px) and (max-width: 1279px) {
  .financeMobSection  {
    width: 738px;
    margin: 0px auto;
  }
  
  .financeWrapper {
    background-color: #f8f8fe;
    /* width: 738px; */
    /* width: 100%; */
  }

  .currencySection {
    position: absolute;
    left: 33px;
    bottom: 52px;
  }

  .financeTable {
    margin: 0px 8px;
  }
}

@media screen and (min-width: 1280px) {
  .financeMobSection  {
    /* width: 856px; */
    width: 100%;
    margin: 0px auto;

    /* margin: 0px 46px 0px 26px; */
    background-color: #ececf3;
  }

  .financeTable {
  }

  .tr:nth-child(odd) {
    background-color: #f3f6f6;
  }
  
  /** четное f3f6f6*/
  .tr:nth-child(even) {
    background-color: #f8f8fe;
  }

  .currencySection {
    position: absolute;
    width: 312px;
    left: -300px;
    bottom: -10px;
  }
}
