.buttonOpenModal {
  position: fixed;
  z-index: 2;
  color: #fff;
  font-size: 30px;
  border: none;
  border-radius: 50%;
  background-color: #e56100;
  width: 54px;
  height: 54px;
  right: 50%;
  bottom: 5px;
  transform: translateX(50%);
}
.buttonOverlay {
  content: '';
  display: block;
  position: fixed;
  z-index: 1;
  background-color: rgba(40, 64, 96, 0.65);
  box-shadow: 0px -10px 30px 0px rgba(119, 119, 119, 0.1);
  height: 42px;
  left: 0;
  bottom: 0;
  width: 320px;
}
.bg { background-color: rgb(40, 64, 96); opacity: 0.651; box-shadow: 0px -10px 30px 0px rgba(119, 119, 119, 0.1); position: absolute; left: 0px; top: 526 px; width: 320px; height: 42px; z-index: 105; }

.buttonOpenModal:hover {
  cursor: pointer;
}

.buttonOpenModal:focus {
  outline: none;
}

.buttonOpenModal::after {
  position: fixed;
  z-index: 1;
  bottom: 0;
  left: 0;
  right: 0;
  height: 42px;
  background-color: rgba(40, 64, 96, 0.651);
  box-shadow: 0px -10px 30px 0px rgba(119, 119, 119, 0.1);
}

@media (min-width: 768px) {
  .buttonOpenModal {
    right: 45px;
    bottom: 45px;
  }

  .buttonBackground {
    display: none;
  }
}
